<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="radio" name="option" id="companies" value="show companies">
        <label for="companies">list companys</label>
        <input type="radio" name="option" id="employees" value="show employees">
        <label for="employees">list employees</label>
        <input type="radio" name="option" id="company" value="add company">
        <label for="company">add a campany</label>
        <input type="radio" name="option" id="employee" value="add employee">
        <label for="employee">add a employee</label>
        <button type="submit">submit</button>
    </form>
</body>
</html>